@import "./../../assets/stylesheets/style.scss";

.body-wrapper {
  .banner {
    height: calc(100vh - 68.68px);
  }

  .series-wrapper {
    width: 1200px;
    margin: auto;
    .lists {
      > a {
        border: 1px solid #e5e5e5;
        display: inline-block;
        margin-right: 10px;
        width: 210px;
        padding: 10px;
        margin-bottom: 20px;
        color: #555;
  
        > .name {
          font-size: 17px;
          margin-top: 10px;
        }
  
        > .content {
          margin-top: 5px;
        }
  
        > .cover-img {
          width: 210px;
          > img {
            width: inherit;
          }
        }
        
        &:nth-child(5n+0) {
          margin-right: 0;
        }
      }
    }
  }
}
